docs/n8n-workflow.json
{
  "name": "AI365 Lucky Draw — record win",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai365-lucky-draw",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-record-win",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "ai365-lucky-draw"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Guest list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json.body.name }}",
            "Gift": "={{ $json.body.label }}"
          }
        },
        "options": {}
      },
      "id": "append-guest-row",
      "name": "Append Guest",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [520, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"result\": \"ok\", \"goodie_id\": $('Webhook').item.json.body.goodie_id } }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Append Guest", "type": "main", "index": 0 }]]
    },
    "Append Guest": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
